/* Disbromig
	
   Desenvolvido por: Fóton Multimidia
   http://www.foton.com.br
*/

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0;
}

#asBg {
	
	background-image:url("../images/layout/newheadertop.jpg");
	background-repeat: no-repeat;
	padding-top:20px;
	width:910px;
	height:200px;


}

#headerBg {

	background-image:url("../images/layout/headerBg.jpg");
	background-repeat: repeat-x;
	width:100%;

}

#headerMenuBox {

	position:relative;
	top:0px;
	left:0px;
	width:900px;
	z-index:100;

}

#content {

	background-image:url("../images/layout/contentBg.gif");
	background-repeat: no-repeat;
	width:1000px;

}


#contentBox {

	width:900px;
	text-align: left;

}

#contentText {

	padding:10px;
	font-size:10pt;

}

.titulo { 
	border-bottom:1px solid #CCCCCC;
	text-align:left;
}


#footer {
	text-align:center;
	font:.7em Verdana, Arial, Helvetica, sans-serif;
	background-image:url("../images/layout/footerBg.jpg");
	background-repeat: repeat-x;
	width:100%;
	height:73px;

}

#footerBox {

	padding:20px;
	margin:auto;
	border: 0px solid pink;
	width:900px;

}


#conteudo {
	position:relative;
	/*border:1px dashed #4F77CE;*/
	border:0;
	font:1em Arial, Helvetica, sans-serif;
	
}

#conteudo .conteudo-texto {
	position:relative;
	padding:20px;
	font:.9em Verdana, Arial, Helvetica, sans-serif;
	text-align:justify;
	
}

#conteudo a { color:#004477; font-weight:bold; text-decoration:none; }
#conteudo a:hover { text-decoration:underline; }

#conteudo .ajax {
	padding:30px;
	text-align:center;
	background-color:#ffffff;
	font:.8em Verdana, Arial, Helvetica, sans-serif;
}

* html #conteudo .ajax {
	margin-left:100px;
	margin:0 auto;
}

#conteudo input[type=text]:focus, #conteudo select:focus, #conteudo textarea:focus, #conteudo file:focus, #conteudo input[type=password]:focus {
	background-color:#FFFEF4;
}
.tips-caracteristicas { font-size:8pt; }
#lista-produtos {
	position:relative;
	margin:10px auto;
	/*width:80%;*/
	/*text-align:center;*/
	/*font:12px Arial;*/
	font-size:.8em;
}
#lista-produtos .thumbs {
	padding:20px;
	background-color:#CCCCCC;
	border:1px solid #000;
	width:200px;
}

.foto {
	padding:5px;
	text-align:center;
}


#promocoes {
	float:right;
	border:1px outset;
	margin-left:15px;
	width:220px;
}
#promocoes .promo-titulo {
	background-color:#7B99DA;
	color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1.5em;
	font-weight:bold;
	padding:5px;
}
#promocoes .promo-texto {
	background-color:#F4F5F9;
	padding:5px;
	font:.8em Arial, Helvetica, sans-serif;
}
#promocoes .promo-footer, #promocoes .promo-footer a {
	/*margin:0 -5px -5px -5px;*/
	background-color:#3E4C6D;
	padding:5px;
	text-align:center;
	color:#fff;
	font-size:12px;
}

#rodape {
	text-align:center;
	font:.7em Verdana, Arial, Helvetica, sans-serif;
	background-color:#D3D9E9;
	padding:10px;
	/*border:1px outset;*/
}

.desconto {
	background-color:#006699; /*font-weight:bold;*/
	color:#fff;
	padding:1px;
}
.detalhes-desconto { background-color:#006699; /*font-weight:bold;*/ color:#fff; padding:1px; text-align:center; font-weight:bold; }
.thumb { padding:5px; }
.navegacao { text-align:center; font:12px Arial; }
.prod-titulo { margin:0; padding:3px; /*background-color:#CCCCCC;*/ }
.icone, .icone a, icone img { /*background-color:#CFEBFE;*/ }
.prod-detalhes { margin:0; padding:3px; /*background-color:#3399CC; */}
.foton { font:.6em Verdana, Arial, Helvetica, sans-serif; text-align:right; }
.link-produto { font-size:14px; }
.desc { padding:10px; }

.titulo { 
	border-bottom:1px solid #CCCCCC;
	text-align:left;
}


* html #separador { font-size:.4em; }

.botao {
	font-size:1.1em;
	font-weight:bold;
	height:30px;
	width:100px;
	cursor:pointer;
	z-index:100;
}
#menu {
	float:left;
	width:99.9%;
	background-color:#0ea1e7;
	height:30px;
	z-index:100;
}
.menu ul li { background-color:#0ea1e7; }
.menu ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
.menu li{
	float:left;
	position:relative;
	z-index:100;
}
.menu table{
	position:absolute;
	border-collapse:collapse;
	z-index:80;
	left:-1px;
	top:25px;
}
.menu a, .menu :visited {
	display:block;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:120px;
	padding:7px 0;
	color:#000;
	background:#D3D9E9 url(../images/layout/fundo_tabela.jpg) repeat;
	text-decoration:none;
	margin-right:1px;
	text-align:center;
	
}
.menu :hover{
	color:#000;
	/*background:#CCDC99 url(../../images/fundo_menu_hover.jpg) repeat;*/
}
.menu a:hover { text-decoration:underline; }
.menu ul ul {
	visibility:hidden;
	position:absolute;
	width:149px;
	height:0;
}
.menu ul li:hover ul,
.menu ul a:hover ul{
	visibility:visible;
}
.menu ul li ul li a, .menu ul li ul li a:visited { background-image:url('../images/layout/fundo_tabela.jpg'); }
.menu ul li ul li a:hover { background:#FFCC9A; }
.menu ul li ul li { border-top:1px solid #fff; }
.menu ul li a:hover { background:#FFCC9A; }
* html .menu a, * html .menu :visited, * html .menu ul ul { width:118px; }

#submenu li a {font-size:8pt;}