/* Disbromig
	
   Desenvolvido por: Fóton Multimidia
   http://www.foton.com.br
*/
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:url(../../images/fundo.jpg) repeat;
	margin:0;
}

h1 { font-size:1.8em; text-align:center; }

img, img a { border:0; }

#geral {
	/*margin:5px auto;*/
	margin:0 auto;
	width:99.9%;
}

#header {
	position:relative;
	height:100px;
	background:#5697E4 url(../../images/layout/fundo_header.jpg) repeat;
	height:150px;
}

#header .logo-disbromig, #header .logo-disbromig a {
	float:left;

}
#header .logo-brobras, #header .logo-brobras a {
	float:right;
}

#separador {
	height:7px;
	/*background-color:#5068A8;*/
	background-color:#000000;
}

* html #separador { font-size:.4em; }

#menu {
	float:left;
	width:99.9%;
	background-color:#0ea1e7;
}
.menu ul li { background-color:#999999; }
.menu ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
.menu li{
	float:left;
	position:relative;
	z-index:100;
}
.menu table{
	position:absolute;
	border-collapse:collapse;
	z-index:80;
	left:-1px;
	top:25px;
}
.menu a, .menu :visited {
	display:block;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:120px;
	padding:7px 0;
	color:#000;
	background:#D3D9E9 url(../../images/layout/fundo_tabela.jpg) repeat;
	text-decoration:none;
	margin-right:1px;
	text-align:center;
}
.menu :hover{
	color:#000;
	/*background:#CCDC99 url(../../images/fundo_menu_hover.jpg) repeat;*/
}
.menu a:hover { text-decoration:underline; }
.menu ul ul {
	visibility:hidden;
	position:absolute;
	width:149px;
	height:0;
}
.menu ul li:hover ul,
.menu ul a:hover ul{
	visibility:visible;
}
.menu ul li ul li a, .menu ul li ul li a:visited { background-image:url('../../images/layout/fundo_tabela.jpg'); }
.menu ul li ul li a:hover { background:#FFCC9A; }
.menu ul li ul li { border-top:1px solid #fff; }
.menu ul li a:hover { background:#FFCC9A; }
* html .menu a, * html .menu :visited, * html .menu ul ul { width:118px; }

#conteudo {
	position:relative;
	/*border:1px dashed #4F77CE;*/
	border:0;
	font:1em Arial, Helvetica, sans-serif;
	background-color:#ffffff;
}

#conteudo .conteudo-texto {
	padding:10px;
	font:.9em Verdana, Arial, Helvetica, sans-serif;
}

#conteudo a { color:#004477; font-weight:bold; text-decoration:none; }
#conteudo a:hover { text-decoration:underline; }

#conteudo input[type=submit] {
	font-size:1.2em;
	height:40px;
	width:auto;
	cursor:pointer;
}
#conteudo select { cursor:pointer; }
#conteudo input[type=text]:focus, #conteudo select:focus, #conteudo textarea:focus, #conteudo file:focus, #conteudo input[type=password]:focus { background-color:#FFFEF4; }

#conteudo .form-cadastro {
	position:relative;
	width:80%;
	margin:0 auto;
}

#conteudo .lista-caracteristicas {
	height:350px;
	overflow:auto;
}

#conteudo fieldset { border:1px solid #D9D9D9; }
#conteudo legend { font-weight:bold; }

* html #conteudo fieldset { padding:7px; }

#conteudo .ajax {
	padding:30px;
	text-align:center;
	background-color:#ffffff;
	font:.8em Verdana, Arial, Helvetica, sans-serif;
}

* html #conteudo .ajax {
	left:100px;
}

.navegacao { text-align:center; font-size:.7em; }
.pesquisar-txt { font-size:.8em; }
.tips-caracteristicas { font-size:.6em; }
.link-cadastrar, .link-cadastrar a { font-size:.8em; color:#0000FF; }
.tbl-usuarios { font-size:.7em; color:#fff; }
.td-usuarios { font-size:.7em; color:#000; }
.cad-usuarios, .cad-usuarios a, .cad-produto, .cad-produto a { font-size:12px; color:#000; text-align:left; }
* html .cad-usuarios, * html .cad-usuarios a, * html .cad-produto, * html .cad-produto a { font-size:.9em; }
.foton { font:.6em Verdana, Arial, Helvetica, sans-serif; text-align:right; }
.legenda {font-size:12px; }
* html #field-caract { width:540px; }

#cadastro-usuario {
	position:absolute;
	float:left;
	visibility:hidden;
	padding:5px;
}
#cadastro-titulo {
	background:#7B99DA url(../../images/fundo_cad.jpg);
	color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1.2em;
	font-weight:bold;
	padding:5px;
	cursor:move;
}
#cadastro-corpo {
	background-color:#EAECF4;
	color:#000;
	padding:5px;
	border:1px dashed #4F77CE;
	font-size:.7em;
}

#promocoes {
	float:right;
	/*border:1px dashed #4F77CE;*/
	min-width:260px;
	padding:5px;
}
#promocoes .promo-titulo {
	background-color:#7B99DA;
	color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1.1em;
	font-weight:bold;
	padding:5px;
}
#promocoes .promo-texto {
	background-color:#F4F5F9;
	padding:5px;
	font:.8em Arial, Helvetica, sans-serif;
}
#promocoes .promo-footer, #promocoes .promo-footer a {
	margin:0 -5px -5px -5px;
	background-color:#3E4C6D;
	padding:5px;
	text-align:center;
	color:#fff;
	font-size:1em;
}

#rodape {
	text-align:center;
	font:.7em Verdana, Arial, Helvetica, sans-serif;
	background-color:#D3D9E9;
	padding:5px;
}

* html #separador { height:2px; }
* html #conteudo .conteudo-texto { height:1em; }



/* --- Painel --- */

#painel-entrar {
	background-color:#ffffff;
	margin:20% auto;
	width:380px;
	font-family:Georgia, "Times New Roman", Times, serif;
	border:1px dashed #000;
}
#painel-entrar .painel-titulo {
	background-color:#003E9A;
	padding:10px;
	font-size:1.1em;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
}
#painel-entrar .painel-texto {
	font-size:1em;
	padding:5px;
}
#painel-bt_entrar {
	font-size:1.3em;
	height:50px;
	width:120px;
	cursor:pointer;
}
#painel-entrar input[type=text], #painel-entrar input[type=password] {
	font:1em Georgia, "Times New Roman", Times, serif;
}
* html #painel-entrar { width:380px; }
.invalido { font-size:.8em; color:#FF0000; }